## Task
- Complete **isHappy** function following the description below

### Happy Number
Write an algorithm to determine if a number **n** is happy.

A **happy number** is a number defined by the following process:

* Starting with any positive integer, replace the number by the sum of the squares of its digits.
* Repeat the process until the number equals 1 (where it will stay), or it **loops endlessly in a cycle** which does not include 1.
* Those numbers for which this process **ends in 1** are happy.

Return **true** if n is a happy number, and **false** if not.

Constraints:
1 <= n <= $2^{31}$ - 1

In [28]:
def isHappy(n):
  string =str(n)
  sum = 0
  same = set()
  while sum != 1:
    sum =0
    for digit in string:
      sum += int(digit)**2
    print(sum)
    if(sum in same):
      return False
    same.add(sum)
    print(same)
    string = str(sum)
  return True

In [33]:
isHappy(19)

isHappy(2)

isHappy(17)

82
{82}
68
{82, 68}
100
{100, 82, 68}
1
{100, 1, 82, 68}
4
{4}
16
{16, 4}
37
{16, 4, 37}
58
{16, 58, 4, 37}
89
{4, 37, 16, 89, 58}
145
{4, 37, 16, 145, 89, 58}
42
{4, 37, 42, 16, 145, 89, 58}
20
{4, 37, 42, 16, 145, 20, 89, 58}
4
50
{50}
25
{25, 50}
29
{25, 50, 29}
85
{25, 50, 85, 29}
89
{50, 85, 89, 29, 25}
145
{145, 50, 85, 89, 29, 25}
42
{42, 145, 50, 85, 89, 29, 25}
20
{42, 145, 50, 20, 85, 89, 29, 25}
4
{4, 42, 145, 50, 20, 85, 89, 29, 25}
16
{4, 42, 16, 145, 50, 20, 85, 89, 29, 25}
37
{4, 37, 42, 16, 145, 50, 20, 85, 89, 29, 25}
58
{4, 37, 42, 16, 145, 50, 20, 85, 89, 58, 29, 25}
89

False

**Testcase 1.**

**Input**: 19

**Output**: True

**Explanation**:

$1^2 + 9^2 = 82$

$8^2 + 2^2 = 68$

$6^2 + 8^2 = 100$

$1^2 + 0^2 + 0^2 = 1$

**Testcase 2.**

**Input**: 2

**Output**: False